<launch>
  <rosparam command="load" file="$(find livox_camera_calib)/config/multi_calib.yaml" />
  <node 
    pkg="livox_camera_calib"
    type="lidar_camera_multi_calib"
    name="lidar_camera_multi_calib"
    output="screen"
  />
  <node 
    pkg="rviz"
    type="rviz"
    name="rviz"
    args="-d $(find livox_camera_calib)/rviz_cfg/calib.rviz"
  />
</launch>